
/* !! Dana Font Family */
@font-face {
  font-family: "DanaBlack";
  src: url("../global/fonts/DanaFamily/DanaBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaBold";
  src: url("../global/fonts/DanaFamily/DanaBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaExtrabold";
  src: url("../global/fonts/DanaFamily/DanaExtrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaMedium";
  src: url("../global/fonts/DanaFamily/DanaMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaBlack";
  src: url("../global/fonts/DanaFamily/DanaBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaRegular";
  src: url("../global/fonts/DanaFamily/DanaRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaRegularItalic";
  src: url("../global/fonts/DanaFamily/DanaRegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DanaThin";
  src: url("../global/fonts/DanaFamily/DanaThin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* !! IRANSans Font Family */
@font-face {
  font-family: "IRANSans";
  src: url("../global/fonts/IRANSans/IRANSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansBold";
  src: url("../global/fonts/IRANSans/IRANSansBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansLight";
  src: url("../global/fonts/IRANSans/IRANSansLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansMedium";
  src: url("../global/fonts/IRANSans/IRANSansMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: "Mono_Medium";
  src: url("../global/fonts/satoshi/Mono_Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "check";
  src: url("../global/fonts/gilroy/check.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: "Pacifico-Regular";
  src: url("../global/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}